/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31/05/2020, 11:02:05 AM
    Author     : kesgr
*/
/* Se reinician las margenes y espaciados predeterminados del navegador y se establecen  en 0*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Se le aplica la fuente a todos los elementos del body */
body{
    font-family: 'Roboto', sans-serif;

}

/* Se estiliza el scrollbar (Para el navegador Chrome) */
body::-webkit-scrollbar{
    width: 5px;
}

body::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 15px;
}

.contenedor{
    width: 100%;

    /* Flex */
    display: flex;
    flex-direction: column;

}

.Bread{
    width: 100%;
    padding: 0.3rem 2rem;
    border-bottom: 1px solid rgb(139, 136, 136);
    background-color: honeydew;
    position: fixed;
    top: 0;

    /* Flex */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.Bread a{
    color: rgb(126, 119, 119);
    margin-right: 0.5rem;
    font-size: 0.8em;
}

.Bread ion-icon{
    color: rgb(126, 119, 119);
    margin-right: 0.3rem;
    font-size: 0.8em;
}

.Bread a:hover{
    color: #b71c1c;
}

.activador{
    background-color: #b71c1c;
    width: 45px;
    height: 40px;
    position: fixed;
    top: 50px;
    right: 0;
    border-radius: 50px 0 0 50px;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 400ms linear;
}

.activador.active{
    right: 30%;
}

.activador ion-icon{
    font-size: 20px;
    color:white;
}

.registroUsuario{
    width: 30%;
    height: 90vh;
    background-color: #e6e6e1;
    border: 1px solid #d9d9d6;
    padding: 0.5rem;
    overflow: scroll;

    transition: all 400ms linear;
    position: fixed;
    right: -30%;
    z-index: 1000;
}

.registroUsuario::-webkit-scrollbar{
    width: 5px;
}

.registroUsuario::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 15px;
}




.registroUsuario.active{
    right: 0;
}

main{
    padding: 0 50px;
}

main .titulo{
    font-size: 48px;
    margin: 45px 0 20px 8px;
}

main .tabs{
    border: 1px solid #d3d0d0; 
    box-shadow: 0 2.5px 4.5px 0 #808080;
}

main .tabs .tab a{
    color: black;
}

main .tabs .tab a:hover, 
main .tabs .tab a.active {
    background-color: transparent;
    color: #b71c1c;
}

/*main .tabs .tab a.active{
    border-bottom: 2px solid #b71c1c;
}*/

main .tabs .indicator{
    background-color: #b71c1c;
}

main .fondoTab{
    background-color: #d5d3d3;
    width: 98.25% !important;
    margin-left:0.9% !important;

}

.registroUsuario form input:not([type]), .registroUsuario form input[type=text]:not(.browser-default), .registroUsuario form input[type=password]:not(.browser-default), .registroUsuario form input[type=email]:not(.browser-default), .registroUsuario form input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), .registroUsuario form input[type=date]:not(.browser-default), .registroUsuario form input[type=datetime]:not(.browser-default), .registroUsuario form input[type=datetime-local]:not(.browser-default), .registroUsuario form input[type=tel]:not(.browser-default), .registroUsuario form input[type=number]:not(.browser-default), .registroUsuario form input[type=search]:not(.browser-default), .registroUsuario form textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 2rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;

    box-shadow: none;

    box-sizing: content-box;

    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

.tituloFormulario{
    font-size: 1.8em;
    padding: 0 0 0.8rem 0;
    border-bottom: 2px solid #b71c1c;
    text-align: center;
    width: 100%;
}

.registroUsuario table{
    margin-top: -1rem;
}

.registroUsuario .waves-effect input[type="button"],
.registroUsuario .waves-effect input[type="reset"],
.registroUsuario .waves-effect input[type="submit"] {
    padding:0.6rem 0.8rem;
    color: white;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    background-color: #b71c1c;
}

.registroUsuario .botonesControl{
    width: 100%;
    margin-top: 1rem;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
} 